@charset "utf-8";
/* CSS Document */

ul{
	list-style: none;
	padding:0px;
	margin:0px;
}

h1{
	margin:0px;
	font-family: 'Bricolage Grotesque', sans-serif;
	font-weight: 400;
	font-size: 45px;
}
body{
	background-color: lavender;
	max-width: 100%;
	overflow-x: hidden;
}

#bienvenida{
	color: aliceblue;
}

h2{
	margin:0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 400;
}

h3{
	margin:0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 400;
}

h4{
	margin:0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16;
	line-height: 2;
	margin-top: 20px;
}

h5{
	margin:0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16;
	line-height: 1.7;
	padding-top: 10px;
}

p{
	margin: 0px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 16;
	line-height: 1.7;
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: auto;
	margin: 0px 30px;
}

a {
	text-decoration: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: black;
}

nav{
	border:solid;
	border-width: thin;
	border-radius: 20px;
	padding: 10px 0px;
}

.botonera{
	padding: 10px 20px;
	border-radius: 15px;
	transition: 0.3s;
}

.botonera:hover{
	background-color: black;
	color: aliceblue;
}

#botonera2{
	background-color: black;
	color: aliceblue;
	padding: 10px 20px;
	border-radius: 15px;
}

.logo{
	margin-top: 10px;
}

.logo:hover {
	content:url("img/troste2.png");
} 


/*------html.INDEX-------*/

.bienvenida{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	margin-top: 50px;
	padding-top: 10%;
	padding-bottom: 10%;
	border-radius: 25px;
	background-image: url("img/prueba.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-color: #040EB0;
}

.carro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px -10px;
	padding-top: 60px;
	padding-bottom: 50px;
	background-color:darkslateblue;
}

#carro{
	color:aliceblue;
	text-align: center;
}

#ver{
	margin-top: 15px;
	margin-bottom: 20px;
	background-color: aliceblue;
	border: thin;
	padding: 10px 0px;
	border-radius: 15px;
}

.carrosel {
	display: flex;
	flex-direction: row;
	max-width: 1000px;
	gap: 10px;
	overflow: auto;
	
}

.carrosel img{
	background: black;
	width: 500px;
	height: 500px;
	object-fit: contain;
}

.info{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding-top: 60px;
	padding-bottom: 100px;
}

.soy{
	position: relative;
	justify-content: space-around;
	align-items: flex-start;
	background-color: ghostwhite;
	border-radius: 25px;
	border: solid;
	padding: 50px;
	height: 170px auto;
	width: 500px;
}

.soy img{
	position: absolute;
	left: 80%;
	bottom: 40%;
}

.formulario{
	position: relative;
	justify-content: center;
	padding-left: 50px;
	margin-left: 100px;
	height: 200px auto;
	width: 500px;
	background-color: ghostwhite;
	border-radius: 25px;
	border: solid;
}


/*------html.CV-------*/

.cvstructure{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
	margin: 20px 10%;
	column-gap: 100px;
}

.cvtrabajos{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: ghostwhite;
	border-radius: 25px;
	border: solid;
	padding: 50px;
	height: 170px auto;
	width: 200px;
	margin: 20px;
}

.cvexp{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: ghostwhite;
	border-radius: 25px;
	border: solid;
	padding: 50px;
	max-width: 600px;
	margin: 20px;
}

.gap{
	margin-top: 30px;
}


/*------html.TRABAJOS-------*/

.trabajos1{
	display: block;
	margin: 20px 20%;
}

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: mediumorchid;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
	cursor: zoom-in;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}


/*------IDS IMÁGENES DE GALERÍA-------*/

#ojo-1{
	background-image: url("img/ojete.png");
}
#ojo-2{
	background-image:url("img/ojete3.png");
}
#ojo-3{
	background-image: url("img/ojete2.png");
}

#latas-1{
	background-image: url("img/lata-ilustracion1.png");
}
#latas-2{
	background-image: url("img/lata-ilustracion2.png");
}
#latas-3{
	background-image: url("img/lata-sistema.png");
}

#cara{
	background-image: url("img/autoretrato.png");
}
#mc{
	background-image: url("img/l1.png");
}
#pj-2{
	background-image: url("img/personaje2.png");
}
#pj-3{
	background-image: url("img/personaje3.png");
}
#pj-4{
	background-image: url("img/personaje4.png");
}

#decidir{
	background-image: url("img/decidir-campana.png");
}

#king-1{
	background-image: url("img/ratten2.png");
}
#king-2{
	background-image: url("img/ratten3.png");
}
#king-3{
	background-image: url("img/ratten1.png");
}

#cafe-1{
	background-image: url("img/cafe-cosmico1.jpg")
}
#cafe-2{
	background-image: url("img/cafe-cosmico2.jpg");
}
#cafe-3{
	background-image: url("img/cafe-cosmico3.jpg");
}
#cafe-4{
	background-image: url("img/cafe-cosmico4.jpg");
}
#cafe-5{
	background-image: url("img/cafe-cosmico6.jpg");
}

#luna-1{
	background-image: url("img/rediseno2.png");
}
#luna-2{
	background-image:url("img/rediseno1.png");
}

/*------html.CONTACTO-------*/

.contacto1{
	display: flex;
	flex-direction: row;
	background-color: aqua;
	margin: 50px 20%;
}

form{
	display: flex;
	width: 50%;
	margin-top: 20px;
	background-color: ghostwhite;
	border-radius: 25px;
	border: solid;
	padding: 50px;
}

form div{
	width: 50%;
	height: auto;
	margin: 20px;
}

label{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16;
	line-height: 2;
}

input{
	width: 100%;
	height: 30px;
}

input[type=radio]{
	width: auto;
}


/*------Footer-------*/

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: auto;
	margin-top: 50px;
	height: 10vh;
	background-color: black;
	margin-bottom: -50px;
	margin-right: -20px;
	margin-left: -20px;
}
#footer{
	color: lightgray;
}


@media screen and (max-width: 600px) {
	
	header{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		width: auto;
		margin: 0px 0px;
		padding: -10px;
	}
	.botonera{
		padding: 10px 10px;
		border-radius: 15px;
		transition: 0.3s;
	}
	
	.bienvenida{
		margin: -10px;
		margin-top: 50px;
		padding-top: 20%;
		padding-bottom: 20%;
		border-radius: 0px;
	}
	h1{
		font-size: 30px;
	}
	#bienvenida{
		font-size: 12px;
	}
	
	.carrosel {
		max-width: 300px;
		overflow: auto;
	}

	.carrosel img{
		width: 300px;
		height: 300px;
	}
	
	.info{
		display: flex;
		flex-direction: column;
		padding: 0px;
		margin: 0px;
		width: 100%;
		justify-content: center;
	}
	
	.soy{
		width: 60%;
		padding: 30px;
		margin: 0px;
	}
	.soy p{
		font-size: 12px;
	}
	.soy img{
		position: absolute;
		bottom: 65%;
		left: 65%;
		width: 140px;
		height: 140px;
	}
	.formulario{
		padding-left: 50px;
		margin-left: 0px;
		height: 20px auto;
		width: 60%;
		margin-top: 50px;
	}
	
	#footer{
		font-size: 12px;
	}
}