@charset "utf-8";
/* CSS Document */


ul{
	list-style: none;
	padding:0px;
	margin:0px;
}

a {
	text-decoration: none;
	padding: 15px;
}

h1{
	padding:0px;
	margin:0px;
}

h2{
	padding:0px;
	margin:0px;
}

h3{
	padding:0px;
	margin:0px;
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 45px;
	padding-right: 100px;
	padding-left: 45px;
	background-color: aquamarine;
}

.bienvenida{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding-top: 150px;
	padding-bottom: 150px;
	background-color: bisque;
}

.galeria{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding-top: 60px;
	padding-bottom: 300px;
	background-color: darkgoldenrod;
}

.info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	padding-top: 60px;
	padding-bottom: 100px;
	padding-left: 50px;
	background-color: cadetblue;
	
}

.soy{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: coral;
	padding: 50px;
	height: 170px auto;
	width: 500px;

}

.formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	margin-left: 100px;
	height: 200px auto;
	width: 500px;
	background-color: aqua;
}

.cvstructure{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	margin: 50px;
	column-gap: 100px;
}

.cvtrabajos{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: cornsilk;
	padding: 50px;
	height: 170px auto;
	width: 200px;
}

.cvexp{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: darkseagreen;
	padding: 50px;
	max-width: 700px;
}

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: auto;
	background-color: aquamarine;
	margin-top: 50px;
}